
  /* Bus Time table Results */
  .time-table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto; 
    margin-right: auto;
    margin: 50px;
    
   
    
  }
  table {
    width: 1000px;
    border-collapse: collapse;
    margin: 20px;
    
  }
  th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
  }
  th {
      background-color: #000b3d;
  }
  tr:nth-child(even) {
      background-color: #f2f2f2;
  }
  td{
    color: #000000;
  }
  
 


  #table-head {
    position: sticky;
    top: 0;
    z-index: 1001;
  
  }
  .title-panel{
    font-size: 1.3rem;
    color: #f2f2f2;
    background-color: #000b3d;
    padding: 10px 0px 10px 20px;
    width: 1050px;

  }



  /* Login */
  
  .inputs-login {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  
  }
  
  .login-button {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 25px;

  }
  
  .login {
  

    margin-top: 20px;
    background-color:#757575;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 10px 40px;
    cursor: pointer;
    width: 320px;
  }
  
  .login:hover {
    background-color: #333333;
  }
  
  .inquire-form {
    color: var(--white);
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 10px;
    width: 460px;
    background-color: rgb(205, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  
  .form-details {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .labels {
    font-size: 15px;
  }
  
.average {
    display: flex;
    justify-content: first baseline;
}
  
  .average-input {
    margin-top: 5px;
    width: 360px;
    height: 40px;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    border: none;

  }

  .headings {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    padding-bottom: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .headings-signup {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  
  .inquire-form {
    color: var(--white);
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    width: 460px;
    background-color: #000b3d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  
  .form-details {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: #000b3d;
  }
  .form {
 
    background: url(images/backgroundExample2.1.jpg) no-repeat;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.55),rgba(0, 0, 0, 0.55)),
    url('images/photo01.jpg') ;*/
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
    width: 100%;
    background-size: cover;
  
  }
  .login-form-title {
    font-family: "Poppins", sans-serif;
    padding-bottom: 15px;
    font-size: 28px;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 15px;
  
  }
  


  .cover-image-schedule {

    background-image: linear-gradient(rgba(0, 0, 0, 0.703), rgba(0, 0, 0, 0.17)),
      url(images/colombo4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 390px;
  
  
    background-color: var(--back-color);
  }